<nav class="nav navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <h1><a routerLink="" class="navbar-brand">E-Comm</a></h1>
    <div *ngIf="menuType !== 'seller'" class="nav-search">
      <input
        type="text"
        #searchInput
        (keyup)="searchProduct($event)"
        (blur)="hideSearch()"
        placeholder="Search Products"
      />
      <button (click)="submitSearch(searchInput.value)">Search</button>
      <ul class="suggested-search" *ngIf="searchResult">
        <li *ngFor="let item of searchResult">
          <a (mousedown)="redirectToDetails(item.id)">{{ item.name }}</a>
        </li>
      </ul>
    </div>
    <div [ngSwitch]="menuType">
      <ul *ngSwitchCase="'default'" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a routerLink="seller-auth">Seller</a></li>
        <li class="nav-item"><a routerLink="">Home</a></li>
        <li class="nav-item"><a routerLink="user-auth">Login/Sign-up</a></li>
        <li class="nav-item">
          <a href="#">Cart({{ cartItems }})</a>
        </li>
      </ul>
      <ul *ngSwitchCase="'user'">
        <li class="nav-item"><a routerLink="seller-auth">Seller</a></li>
        <li class="nav-item"><a routerLink="">Home</a></li>
        <li class="nav-item">
          <a>{{ userName | titlecase }}</a>
        </li>
        <li class="nav-item"><a routerLink="my-orders">My Orders</a></li>
        <li class="nav-item"><a (click)="userLogout()">Logout</a></li>

        <li>
          <a routerLink="cart-page"
            >Cart({{ cartItems }})</a
          >
        </li>
      </ul>
      <ul *ngSwitchCase="'seller'">
        <li class="nav-item">
          <a routerLink="seller-add-product">Add Product</a>
        </li>
        <li class="nav-item"><a routerLink="seller-home">List</a></li>
        <li class="nav-item"><a (click)="logout()">Logout</a></li>
        <li class="nav-item">
          <a href="#">{{ sellerName | titlecase }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
